@font-face {
  font-family: Roboto;
  src: url("../src/assets/RobotoFont/Roboto-Regular.ttf");
}

:root {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0
}

#container {
  display: flex;
  margin: 0;
  min-width: 640px;
  min-height: 100vh;
}
#menu {
  background-color: #2B2B2B;
  height: auto;
  width: 150px;
  padding: 10px;
}

#menu > * {
  user-select: none;
}
#screen {
  flex-grow: 1;
}

.icon {
  width: 28px;
  height:28px;
  display: inline-block;
  vertical-align: middle;
}

.icon-small {
  height: 18px;
  width: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.menuTitle {
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  padding-left: 5px;
}

.menuItem {
  background-color: #4bac3f;
  margin: 10px auto 0;
  line-height: 32px;
  padding-left: 5px;
}

.menuItem:hover {
  cursor: pointer;
}

.menuItem a {
  color:#ffffff;
  text-decoration: none;
}

.languageOption {
  display: block;
  background-color: #666666;
  line-height: 18px;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  display: block;
}

#checkboxes {
  display: none;

}